<% if @flights.any? %>
  <div class="flights-container">
    <%= form_with url: new_booking_path, method: 'get', class: "flight-cards" do |form| %>
      <%= render partial: 'flight_card', collection: @flights, as: :flight, locals: {form: form} %>
      <% if params[:number_of_passengers] %>
        <%= form.hidden_field :number_of_passengers, value: params[:number_of_passengers] %>
      <% end %>
      <%= form.submit "Select Flight" %>
    <% end %>
    <%= paginate @flights %>
  </div>
<% else %>
  <p class="no-flights-message">No flights found.</p>
<% end %>
