<% content_for :head do %>
  <%= javascript_import_module_tag 'flight_results' %>
<% end%>

<% if @flights.any? %>
  <div class="flights-container">
    <%= form_with url: new_booking_path, method: 'get', class: "flight-cards" do |form| %>
      <%= render partial: 'flight_card', collection: @flights, as: :flight, locals: {form: form} %>
      <% if params[:search][:number_of_passengers] %>
        <%= form.hidden_field :number_of_passengers, value: params[:search][:number_of_passengers] %>
      <% end %>
      <%= form.submit "Select Flight", class: 'std-button' %>
    <% end %>
    <%= paginate @flights %>
  </div>
<% else %>
  <p class="no-flights-message">No flights found.</p>
<% end %>
