<%= form_with url: '/flights/', method: :get, class: 'search-bar' do |search_form| %>
  <div class="search-field">
    <%= search_form.label 'search[departure_airport_id]', 'Departure Airport:' %>
    <%= search_form.collection_select 'search[departure_airport_id]', Airport.order(:code), :id, :code, {selected: @search[:departure_airport_id], include_blank: true}, {required: true} %>
  </div>
  <div class="search-field">
    <%= search_form.label 'search[arrival_airport_id]', 'Arrival Airport:'%>
    <%= search_form.collection_select 'search[arrival_airport_id]', Airport.order(:code), :id, :code, {selected: @search[:arrival_airport_id], include_blank: true}, {required: true} %>
  </div>
  <div class="search-field">
    <%= search_form.label 'search[depart_date]', 'Departure Date:' %>
    <%= search_form.date_select 'search[depart_date]', selected: SharedMethods.date_from_parts(@search[:depart_date]), include_blank: true %>
  </div>
  <div class="search-field">
    <%= search_form.label 'search[number_of_passengers]', 'Passenger(s):' %>
    <%= search_form.select 'search[number_of_passengers]', (1..20), selected: @search[:number_of_passengers] %>
  </div>
  <%= search_form.submit "Search Flights", class: 'std-button' %>
<% end %>
