<%= form_with model: booking, class: "booking-form" do |f_booking| %>
  <%= f_booking.fields_for :passengers do |f_passenger| %>
    <div class="content-card booking-card">
      <h2><%= "Passenger #{f_passenger.index + 1}" %></h2>
      <div class="horizontal-fields">
        <%= f_passenger.label :name %>
        <%= f_passenger.text_field :name %>
        <%= f_passenger.label :email %>
        <%= f_passenger.email_field :email %>
      </div>
    </div>
  <% end %>
  <%= f_booking.hidden_field :flight_id, value: @booking.flight.id %>
  <%= f_booking.submit class: 'std-button' %>
<% end %>
